.feedback {
  a.button {
    background: darkred;
    color: $background-color;
  }
  @media print {
    display: none;
  }
}

a.button {
  display: inline-block;
  padding: 10px;
  background: $brand-color;
  color: $background-color;
  border-radius: 5px;
  &:visited {
    color: $background-color;
  }
}

.call-to-action {
  font-size: 150%;
}

.centred {
  text-align: center;
}

.site-header {
  background: $brand-color;
  color: $background-color;
  a {
    color: inherit;
    &:visited { color: inherit; }
  }
}

.trigger {
  & > ul {
    margin: 0;
    list-style: none;
    @media print {
      display: none;
    }
    & > li {
      margin-right: 0;
      &:not(:last-child) {
        margin-right: 20px;
      }
      position: relative;
      .submenu {
        margin: 0;
        padding: 5px;
        list-style: none;
        background-color: $background-color;
        border: $brand-color 1px solid;
        color: $brand-color;
        display: none;
        position: absolute;
        top: 45px;
        right: 0px;
        border-radius: 5px;
        text-align: right;
        li {
          margin: 0;
          line-height: 1;
          .page-link {
            white-space: nowrap;
          }
        }
        a {
          color: inherit;
          &:visited { color: inherit; }
        }
      }
      &:hover {
        .submenu {
          display: inline-block;
        }
      }
    }
    & > li {
      display: inline-block;
    }
  }
}

@include media-query($on-palm) {
  .trigger {
    color: $brand-color;
    a {
      color: inherit;
      &:visited {
        color: inherit;
      }
    }
    ul {
      & > li {
        display: block;
        margin-right: 25px;

        .submenu {
          font-style: italic;
          display: block;
          position: static;
          border: none;
          width: 250px;
          li .page-link {
            white-space: normal;
          }
        }
        &:hover .submenu {
          display: block;
        }
      }
    }
  }
}

@mixin small-image() {
  @content;
  width: 200px;
  @include media-query($on-palm) {
    float: none;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.small-image-left {
  @include small-image() { float: left; }
}

.small-image-right {
  @include small-image() { float: right; }
}

@media print {
  .page-content {
    a:after {
      content: " (" attr(href) ") ";
      font-size: 0.8em;
      font-weight: normal;
    }
  }
}
