---
layout: page
---

{{ content }}

{% include shop-table.html %}

<script type='text/javascript' src='http://hebdenrising.com/js/data.js'></script>
<script type='text/javascript' src='http://hebdenrising.com/js/sorttable.js'></script>
<script type='text/javascript'>
var loadTable = function(data) {
  var table = document.getElementById("shops");
  var addCell = function(row, content) {
    var cell = row.insertCell();
    cell.innerHTML = content;
  };
  var addRow = function(rowData) {
    var row = table.insertRow();
    addCell(row, rowData["name"]);
    addCell(row, rowData["street_number"] + " " + rowData["street_name"] + " ");
    addCell(row, rowData["status"]);
    addCell(row, rowData["comments"]);
  }
  var data = inflate(JSON.parse(data));
  data.forEach(addRow);
}
window.onload = function() {
  getShopData("{{ page.fusion.key }}", "{{ page.fusion.table }}", loadTable);
}
</script>
